<div class="container mx-auto flex flex-col gap-5">
  <h1 class="text-3xl">
    My Profile
  </h1>

  <h2 class="text-xl"> Email: <%= @account.email %> </h2>
  <div class="form-control w-full" data-controller="clipboard">
    <label class="label">
      <span class="label-text">Host</span>
    </label>
    <div class="input-group w-full">
      <input id="host-input" readonly type="url" value="" class="input input-bordered w-full" />
      <button type="button" class="btn clipboard-btn" data-action="clipboard#copy">
        Copy ✂️
      </button>
    </div>
  </div>

  <div class="form-control w-full" data-controller="clipboard">
    <label class="label">
      <span class="label-text">API Token</span>
    </label>
    <div class="input-group w-full">
      <input readonly type="password" value="<%= @account.api_token %>" class="input input-bordered w-full" />
      <button type="button" class="btn clipboard-btn" data-action="clipboard#copy">
        Copy ✂️
      </button>
    </div>
  </div>

  <%= form_with(model: @account, url: profile_path) do |f| %>
    <div class="form-control w-full mb-2">
      <%= f.label :timezone, class: "label" %>
      <%= f.time_zone_select :timezone, nil, {}, class: "select select-primary" %>
    </div>
    <%= f.submit "Save", class: "btn btn-primary w-full" %>
  <% end %>
</div>

<script>
  document.getElementById('host-input').value = window.location.origin;
</script>
