<div class="container p-5 flex flex-col">
  <div class="flex justify-between">
    <%= link_to "< #{l(@day.yesterday, format: :short)}", hits_path(day: @day.yesterday), class: "btn btn-ghost" %>
    <h1 class="self-center text-2xl font-bold mb-3"><%= @day %> hits</h1>
    <%= link_to "#{l(@day.tomorrow, format: :short)} >", hits_path(day: @day.tomorrow), class: "btn btn-ghost" %>
  </div>
  <div class="overflow-x-auto">
    <table class="table table-compact w-full">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Project</th>
          <th>Language</th>
        </tr>
      </thead>
      <tbody id="hits">
        <% @hits.each do |hit| %>
          <% hit_obj = Hit.new(hit) %>
          <tr>
            <td><%= hit_obj.timestamp %></td>
            <td><%= hit_obj.project %></td>
            <td><%= hit_obj.language %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

