<nav class="navbar bg-primary text-primary-content">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-primary text-primary-content rounded-box w-52 font-medium">
        <li><%= link_to "Dashboard", root_path %></li>
        <li><%= link_to "Hits", hits_path %></li>
        <li><%= link_to "Profile", profile_path %></li>
      </ul>
    </div>
    <%= link_to "DevTime", root_path, class: "btn btn-ghost normal-case text-xl font-bold" %>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal p-0 font-medium">
      <li><%= link_to "Dashboard", root_path %></li>
      <li><%= link_to "Hits", hits_path %></li>
      <li><%= link_to "Profile", profile_path %></li>
    </ul>
  </div>
  <div class="navbar-end">
    <%= button_to 'Sign out', rodauth.logout_path, method: :post, class: 'btn btn-ghost text-base-100' %>
  </div>
</nav>
