<div class="container">
  <div>
    <%= form_with url: home_index_path, method: :get do |f| %>
      <%=
        f.select :range,
          options_for_select(
            ApplicationHelper::TIME_RANGES.keys.map { |k, _| [k.titleize, k]},
            session[:default_range]
          ),
          {},
          { onchange: "this.form.submit()", class: "select select-primary" }
      %>
    <% end %>
  </div>
  <div
    class="flex flex-col lg:grid lg:grid-cols-3 lg:gap-4 mt-10"
    data-controller="home-charts"
    data-home-charts-daily-value="<%= @range_summaries.to_json %>"
    data-home-charts-range-value="<%= session[:default_range].titleize.downcase %>"
    data-home-charts-today-total-value="<%= @today_summary.total_time %>"
    data-home-charts-yesterday-total-value="<%= @yesterday_summary.total_time %>"
    data-home-charts-period-total-value="<%= @range_summaries.transpose[1] && @range_summaries.transpose[1].sum(0.0) / @range_summaries.size %>"
  >
    <div id="dailyTimeChart" class="w-full lg:col-span-2 h-96"></div>
    <div id="totalsChart" class="w-full h-96"></div>
    <div id="languagesPieChart" class="w-full h-96"></div>
  </div>
</div>
