<div class="container">
  <div>
    <%= form_with url: home_index_path, method: :get do |f| %>
      <%=
        f.select :range,
          options_for_select(
            ApplicationHelper::TIME_RANGES.keys.map { |k, _| [k.titleize, k]},
            session[:default_range]
          ),
          {},
          { onchange: "this.form.submit()", class: "select select-primary" }
      %>
    <% end %>
  </div>
  <div class="flex flex-row mt-10">
    <div
      data-controller="echarts"
      id="dailyTimeChart"
      class="basis-1/2 h-96"
      data-echarts-source-value=<%= @range_summaries.to_json %>
      data-echarts-range-value="<%= session[:default_range].titleize.downcase %>"
    ></div>
    <div class="basis-1/2">
      <% if @yesterday_summary && @today_summary %>
        <div class="stats shadow">
          <div class="stat">
            <div class="stat-title">Total Time Today</div>
            <div class="stat-value"><%= @today_summary.total_time.inspect %></div>
            <div class="stat-desc">
              <%= @yesterday_summary.total_time.inspect %> yesterday
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
