<div class="container p-5 flex flex-col">
  <div class="flex justify-between items-center">
    <h1 class="text-3xl">
      Appointments
    </h1>
    <%= link_to 'New Appointment', new_appointment_path, class: "btn btn-primary" %>
  </div>
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th>Kind</th>
          <th>Start time</th>
          <th>End time</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @appointments.each do |appointment| %>
          <tr>
            <td><%= appointment.appointment_kind.name %></td>
            <td><%= appointment.time_range.begin %></td>
            <td><%= appointment.time_range.end %></td>
            <td>
              <%= link_to 'Edit', edit_appointment_path(appointment), class: "link" %><br>
              <%= link_to 'Destroy', appointment, class: "link link-error",
                data: {turbo_confirm: "Are you sure?", turbo_method: :delete} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
