<% content_for :title, rodauth.create_account_page_title %>

<section class="h-screen">
  <div class="container px-6 py-12 h-full">
    <div class="flex flex-col justify-center items-center flex-wrap h-full">
      <h4 class="text-xl font-semibold mb-5 pb-1">DevTime - Create Account</h4>
      <%= form_with url: rodauth.create_account_path, method: :post, data: { turbo: false } do |form| %>
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <%= form.label "login", rodauth.login_label, class: "label-text" %>
          </label>
          <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], id: "login", autocomplete: "email", required: true, class: "input input-bordered w-full max-w-xs #{"is-invalid" if rodauth.field_error(rodauth.login_param)}", aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
          <label class="label">
            <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "label-text-alt invalid-feedback", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
          </label>
        </div>

        <div class="form-control w-full max-w-xs">
          <label class="label">
            <%= form.label "password", rodauth.password_label, class: "label-text" %>
          </label>
          <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "input input-bordered w-full max-w-xs #{"is-invalid" if rodauth.field_error(rodauth.password_param)}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
          <label class="label">
            <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "label-text-alt invalid-feedback", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
          </label>
        </div>

        <div class="form-control w-full max-w-xs">
          <label class="label">
            <%= form.label "password-confirm", rodauth.password_confirm_label, class: "label-text" %>
          </label>
          <%= form.password_field rodauth.password_confirm_param, value: "", id: "password-confirm", autocomplete: "new-password", required: true, class: "input input-bordered w-full max-w-xs #{"is-invalid" if rodauth.field_error(rodauth.password_confirm_param)}", aria: ({ invalid: true, describedby: "password-confirm_error_message" } if rodauth.field_error(rodauth.password_confirm_param)) %>
          <label class="label">
            <%= content_tag(:span, rodauth.field_error(rodauth.password_confirm_param), class: "label-text-alt invalid-feedback", id: "password-confirm_error_message") if rodauth.field_error(rodauth.password_confirm_param) %>
          </label>
        </div>

        <%= form.submit rodauth.create_account_button, class: "btn btn-primary w-full" %>
      <% end %>
    </div>
  </div>
</section>
