<!DOCTYPE html>
<html>
  <head>
    <title>Devtime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% if Rails.env.development? %>
      <%= javascript_include_tag "hotwire-livereload", defer: true %>
    <% end %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if rodauth.logged_in? %>
      <%= render partial: 'shared/navbar' %>
    <% end %>
    <main class="container mx-auto mt-2 px-5">
      <%= yield %>
    </main>
  </body>
</html>
